{% extends 'layout/base-layout.html.twig' %}
{% block title %} Liste des terrains  {% endblock %}
{% block page_title %}Liste des terrains {% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title pull-right"><a href="{{ path('cs_main_Terrains_ajouter') }}" class="btn bg-green margin">Nouveau Terrains</a></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>code</th>
                            <th>Ville</th>
                            <th>Adresse</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for k, val in list %} }
                            <td>{{ val.nom}}</td>
                            <td>{{ val.ville }}</td>
                            <td>{{ val.adresse}}</td>
                            <td></td>

                        {% endfor %}

                        </tbody>
                        <tfoot>
                        <tr>
                            <th>code</th>
                            <th>Ville</th>
                            <th>Adresse</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts_inline %}
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock %}